.zatvoren_meni::before {
    content: "+";
}

.zatvoren_meni>div {
    display: none;
    padding-left: 10px;
}

.otvoren_meni>div::before {
    content: "-";
    padding-left: 10px;
}

.otvoren_meni::before {
    content: "-";
}
div {
    transition: height 2s;
}