html
    head 
    title Vježba 9 - Imenik
    link(rel="stylesheet" type="text/css" href="/stil.css")
    body
        table  
            tr
                th Ime
                th Prezime
                th Adresa
                th Broj telefona
            each red_tabele in podaci
                tr
                    td #{red_tabele.ime}
                    td #{red_tabele.prezime}
                    td #{red_tabele.adresa}
                    td #{red_tabele.brojTelefona}